<%- include('../layout/head.ejs') %>

<div class="container" style="margin-top:50px">
  <div class='headContainer' style=" justify-content: space between;">
    <h1>AccessTokens</h1>

    <div class="input-group mr-3 mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">
          Create Token:
        </span>
      </div>

    <input class=" inputBox"type="text">

    <a 
      class="btn-outline-success btn createToken"
      style="margin-right: 100px;"
      href="/api/accessTokens"
      >
      SUBMIT
    </a>
   </div>

    <hr />

    <div class="row">
      <div class="col-12">
        <ul class="list-group tokensList"></ul>
      </div>
    </div>

    <%- include('../layout/footer.ejs') %>
    <script src="/accessTokens.js"></script>


