<%- include('../layout/head.ejs') %>

<div class="container" style="margin-top:50px">
  <div class='headContainer' style="diplay: flex; justify-content: space between;">
    <h1>AccessTokens</h1>

    <input class="inputBox"type="text">
    <a 
      class="btn-outline-success btn createToken"
      style="margin-left: 0px"
      href="/api/accessTokens"
      >
      SUBMIT
    </a>

    <hr />

    <div class="row">
      <div class="col-12">
        <ul class="list-group tokensList"></ul>
      </div>
    </div>

    <%- include('../layout/footer.ejs') %>
    <script src="/accessTokens.js"></script>


