<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container" style="margin-top: 50px;">
    <h1>Host Keys</h1>
    <form class="form-inline">
      <div class="form-group mb-2">
        <label for="serviceKey" class="sr-only">Key</label>
        <input type="text" class="form-control" id="serviceKey" placeholder="Key">
      </div>
      <div class="form-group mb-2">
        <label for="value" class="sr-only">Value</label>
        <input type="text" class="form-control" id="value" placeholder="Value">
      </div>
      <div class="form-group mb-2">
        <label for="service" class="sr-only">Service</label>
        <input type="text" class="form-control" id="service" placeholder="Service">
      </div>
      <div class="form-group mb-2">
        <button type="submit" id="newService" class="btn btn-primary">Create</button>
      </div>
    </form>
    <hr>
    <div class="row">
      <div class="col-12">
        <ul class="list-group" id="serviceHostKeys">
          <li class="list-group-item">
            <input type="text" value="Test Service Key" disabled></input>
            <input type="text" value="Test Value" disabled></input>
            <input type="text" value="Test Service" disabled></input>
            <button type="button" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/serviceHostKeys.js"></script>
</body>
</html>
