<<<<<<< HEAD
<%- include('layout/head.ejs') %>

<div class="container" style="margin-top: 50px;">
  <h1>App Creator</h1>
  <div class="form-inline">
    <div class="form-group mb-2">
      <label for="subdomain" class="sr-only">Subdomain</label>
      <input
        type="text"
        class="form-control subDomain"
        id="subdomain"
        placeholder="Subdomain"
      />
    </div>
    <div class="form-group mb-2">
      <div class="dropdown">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-outline-info dropdown-toggle hostSelector"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            id="hostSelector"
            data-value=""
          ></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
        </div>
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="port" class="sr-only">Port</label>
      <input
        type="text"
        class="form-control port"
        id="port"
        placeholder="Port Number"
      />
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="ipAddress" class="sr-only">IP ADDRESS</label>
      <input
        type="text"
        class="form-control ipAddress"
        id="ipAddress"
        placeholder="IP Address"
      />
    </div>
    <button
      type="submit"
      id="newPortButton"
      class="btn btn-primary mb-2 create"
    >
      Create
    </button>
  </div>
  <small class="form-text text-muted"
    >Port Number is not required. If you must, please make it > 3001</small
  >
  <hr />
  <div class="row">
    <div class="col-12">
      <ul class="list-group domainList"></ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <h4>Sample Server Code</h4>
      <pre style="background-color: #f3f3f3; padding: 0 30px"><code>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
.deleteButton {
  float: right;
  display: inline-block;
  cursor: pointer;
}
    </style>
  </head>
  <body>
    <div class="container" style="margin-top: 50px;">
      <h1>App Creator</h1>
      <div class="form-row">
        <div class="form-group mb-3">
          <label for="subdomain">Subdomain</label>
          <input type="text" class="form-control subDomain" id="subdomain" placeholder="Subdomain">
        </div>
        <div class="form-group mb-3" style="width: 175px;">
          <label for="hostSelector">Domain</label>
          <button type="button" class="btn btn-outline-info dropdown-toggle form-control hostSelector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="hostSelector" data-value=""></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          </div>
        </div>
        <div class="form-group mx-sm-3 mb-3">
          <label for="port">Port Number (Optional)</label>
          <input type="text" class="form-control port" id="port" placeholder="3002">
        </div>
        <div class="form-group mx-sm-3 mb-3">
          <label for="ipAddress">IP Address (Optional)</label>
          <div class="form-inline">
            <input type="text" class="form-control mb-3 ipAddress" id="ipAddress" placeholder="123.456.789">
            <button type="submit" id="newPortButton" class="btn btn-primary form-control mx-sm-3 mb-3 create">Create</button>
          </div>
        </div>
      </div>
      <small class="form-text text-muted">Port Number is not required. If you must, please make it > 3001</small>
      <hr>
      <div class="row">
        <div class="col-12">
          <ul class="list-group domainList"></ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <h4>Sample Server Code</h4>
          <pre style="background-color: #f3f3f3; padding: 0 30px"><code>
>>>>>>> c79e57a2af16151dc7ca35ee0bddc9935a88c95f
const express = require('express');
const app = express();
app.use(express.static('public'));

app.get('/', (req, res) => {
  res.send('hello');
});

app.listen(process.env.PORT || 8123);
<<<<<<< HEAD
        </code></pre>
    </div>
  </div>
</div>

<%- include('layout/footer.ejs') %>
=======
          </code></pre>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src='/helper.js'></script>
    <script src='/client.js'></script>
  </body>
</html>
>>>>>>> c79e57a2af16151dc7ca35ee0bddc9935a88c95f
