<%- include('layout/head.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-center">
      <h1 class="display-4">Please login</h1>
      <div class="info-form">
        <form action="/login" method="POST" class="justify-content-center">
          <div class="form-group">
            <% if(error.length > 0){ %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
            <label class="sr-only">Password</label>
            <input
              type="password"
              name="adminPass"
              class="form-control"
              placeholder="ADMIN Password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer.ejs') %>
