<%- include('layout/head.ejs') %>

 <h1>Please Enter in the ADMIN Password to proceed</h1>
 <form action='/login' method='POST'>
   <input type='text' name='adminPass'></input>
    <button type='submit'>Login</button>
    <div><%= error %></div>
 </form>

 <%- include('layout/footer.ejs') %>
