# Javascript Node CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-javascript/ for more details

version: 2.1

commands:
  checkout_and_restore_cache:
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
  workspace:
    steps:
    - attach_workspace:
        at: ~/circleci

executors:
  node:
    docker:
      - image: circleci/node:12.8.0
    working_directory: ~/circleci

jobs:
  install:
    executor: node
    steps:
      - checkout_and_restore_cache
      - run: ./scripts/setup.sh
      - persist_to_workspace:
          root: .
          paths:
            - .
      - save_cache:
          key: source-v1-{{ checksum "package.json" }}
          paths:
            - ./node_modules
            - ./acme.sh
  lint:
    executor: node
    steps:
      - workspace
      - checkout_and_restore_cache
      - run: npm install
      - run: npm run lint
      - run: npm run build
  test:
    executor: node
    steps:
      - workspace
      - checkout_and_restore_cache
      - run: npm run test

workflows:
  version: 2
  integration:
    jobs:
      - install
      - lint:
          requires:
            - install
      - test:
          requires:
            - install
      - deploy:
          requires:
            - lint
            - test
          filters:
            branches:
              only: master
